<h1>¡Bienvenido a Crazy4Cats!</h1>

<p>
  ¡Hola, amante de los gatos! En Crazy4Cats, puedes compartir tus locuras y aventuras felinas con otros que creen que los gatos son lo mejor del mundo. Aquí podrás publicar tus historias, dar Me gusta o No me gusta a las publicaciones, y lo mejor de todo: ¡puedes comentar sin necesidad de registrarte!
</p>

<p>
  ¿Prefieres mantener tu nombre en secreto? ¡No hay problema! Los comentarios pueden ser anónimos, así que siéntete libre de participar sin compromiso. Sin embargo, si deseas aprovechar al máximo la experiencia, ¡te invitamos a registrarte! Al hacerlo, podrás seguir a otros usuarios, recibir notificaciones sobre tus publicaciones favoritas y mucho más.
</p>

<div class="text-center mt-4">
  <h2>¡Explora nuestros posts!</h2>
  <p>
    Si quieres ver lo que otros han compartido, sin necesidad de registrarte.</p>
    <%= link_to 'Post', posts_path, class: 'btn btn-primary mb-3' %>
</div>

<p>
  Y lo mejor de todo es que puedes acceder a Crazy4Cats desde cualquier lugar. Así que, no importa si estás en casa o de viaje, ¡siempre podrás revisar las historias y compartir las tuyas!
</p>

<div class="text-center mt-4">
  <h2>¡Únete a nuestra comunidad!</h2>
  <p>Regístrate ahora y empieza a compartir tus aventuras gatunas.</p>
  <%= link_to 'Registrarse', new_user_registration_path, class: 'btn btn-primary' %>
</div>


